.menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.2s ease forwards;
}

.menu-container {
    z-index: 9999;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 14dvh 0 0 11vw;
    background: #00000080;
    backdrop-filter: blur(10px);
}

.menu {
    margin: 20% 0 0 0;
}

.menu-container__item {
    animation: fadeUp 0.2s;
}

.menu-button {
    position: fixed;
    background: linear-gradient(to right, #76CFF6 -60%, #70A7C8 50%, #0D72C5 130%);
    color: #ffffff;

    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 37%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 37%);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.menu-button {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15dvh;
    padding: calc(5dvh + 18px) 0 0 8dvw;
    /* padding: 8dvh 0 0 8dvw; */
}

.menu-button.fade {
    opacity: 0;
    visibility: 0;
    transform: translateY(60px);
    pointer-events: none;
}

.menu-container__content {
    font-size: 18px;
}

.menu-container__item {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 60px;
    z-index: 9999;
    color: #ffffff;
}

@media (min-width: 650px) {
    .menu-button {
        background: linear-gradient(to right, #76CFF6 -60%, #70A7C8 50%, #0D72C5 130%);
        padding: calc(5dvh + 18px) 0 0 12dvw;
    }

    .menu-container__item:hover,
    .menu-button:hover {
        cursor: pointer;
        transform: translateY(-20px);
    }

    .menu-container__item:hover {
        transform: translateY(-12px);

    }
}

@media (min-width: 950px) {
    .menu-button {
        padding: calc(5dvh + 18px) 0 0 18dvw;
    }

    .menu-container {
        padding: 14dvh 0 0 18vw;
    }
}

@media (min-width: 1250px) {
    .menu-button {
        left: auto;
        height: 17dvh;
        padding: calc(7dvh + 8px) 0 0 0;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;

        width: 100dvw;
        padding: 40dvh 21dvw 0 21dvw;
    }

    .lobby-page:has(> :nth-child(1)) .menu-button {

        width: calc(40dvw) !important;

        /* display: none; */
        background: linear-gradient(to right, #76CFF6 -50dvw, #70A7C8 20dvw, #0D72C5 120dvw);
        /* mask-image: linear-gradient(to bottom, transparent 0%, black 40%); */
        box-shadow: 0;
        color: #ffffff;
        /* border: 2px solid rgb(251, 255, 0); */
        /* -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
        transition: opacity 0.25s ease, transform 0.25s ease; */
    }

    .lobby-page:has(.chat-page) .menu-button {
        /* padding: calc(5dvh + 15px) 0 0 8dvw; */
        width: 50px;
        /* display: none; */
        background: linear-gradient(to right, #76CFF6 -35dvw, #70A7C8 56dvw, #0D72C5 120dvw);
        /* mask-image: linear-gradient(to bottom, transparent 0%, black 40%); */
        box-shadow: 0;
        color: #ffffff;
        /* border: 2px solid rgb(251, 255, 0); */
        /* -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
        transition: opacity 0.25s ease, transform 0.25s ease; */
    }
}

@media (min-width: 1550px) {
    /* .menu-button { */
        /* padding: calc(5dvh + 15px) 0 0 5dvw; */
        /* width: calc(520px + 5dvw) !important; */
    /* } */
}