.chat-page {
    padding: 20px 0 0 0;
}

.chat-message--fade {
    width: 200px;
    background: #000000;
    box-shadow: 0px 0px 30px #00000040;
    animation: fadeOut 0.2s ease forwards;
}

.chat-page__status {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    bottom: 10vh;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    font-size: 15px;
    right: 12vw;
    animation: fadeIn 0.2s ease forwards;
}

.chat-page__status--icon {
    margin: 2px 8px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #88ff00;
}

.chat-page__status--icon-1 {
    margin: 2px 8px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff7300;
}

.chat-page__container {
    margin: 0 0 55px 0;
    width: 100%;
    height: 59vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    list-style: none;
    overflow-y: auto;
    scroll-behavior: smooth;
    mask-image: linear-gradient(to top, #00000000, #000000 10%);
    mask-repeat: no-repeat;
    mask-size: 100% 102%;
    -webkit-mask-image: inear-gradient(to top, #00000000, #000000 10%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 102%;
}

.chat-message {
    width: 200px;
    background: #000000;
    box-shadow: 0px 0px 30px #00000040;
    animation: fadeIn 0.2s ease forwards;
}

.chat-message--text {
    width: 100%;
    max-height: none;
    font-size: 15px;
    letter-spacing: 1.01;
    padding: 25px 18px 5px 35px;
    border: none;
    background: #000000;
    text-transform: none;
    font-weight: 600;
    color: #ffffff;
}

.chat-message:hover {
    width: 230px;
}

.chat-page__viewport {
    display: flex;
    flex-direction: row;
}

.chat-message:not(:hover) .chat-message__hidden {
    animation: fadeOutAdd 0.2s ease forwards;
    pointer-events: none;
}

.chat-message__hidden {
    display: flex;
    min-height: 16px;
    flex-direction: row;
    color: #ffffff;
    font-size: 13px;
    animation: fadeInAdd 0.2s ease forwards;
}

.chat-message__hidden--item {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin: 0 0 0 20px;
}

.chat-message__hidden--item__icon {
    margin: 1px 6px 0 0;
}

.chat-message__hidden--item:hover {
    transform: var(--transform-welcome-page__button--item);
    cursor: pointer;
    opacity: 60%;
    box-shadow: 7px 7px 50px #00000073;
}

.chat-page__container--add {
    cursor: pointer;
    margin: 0 40px 0 0;
    animation: fadeInAdd 0.2s ease forwards;
}

.chat-page__add-message {
    width: calc(100% - 10px);
    display: grid;
    grid-template-columns: 60px calc(100% - 60px);
    gap: 10px;
}

.chat-page__add-message--icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    box-shadow: 5px 5px 50px #00000065;
    width: 60px;
    height: 50px;
}

.chat-page__add-message--pin {
    display: none;
}

.chat-page__add-message--field {
    box-shadow: 5px 5px 50px #00000065;
    padding: 15px 50px 20px 40px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #ffffff;
    height: 50px;
    border: none;
    background: #000000;
}

.chat-page__button--icon {
    cursor: pointer;
    color: #ffffff;
    opacity: 50%;
    margin: 0 30px 0 0;
}

@media (min-width: 650px) {
    .chat-message {
        width: 230px;
    }

    .chat-page__status {
        right: 16vw;
    }
}

@media (min-width: 950px) {
    .chat-page__add-message {
        width: calc(100% - 16px);
        display: grid;
        grid-template-columns: 60px 60px calc(100% - 120px);
        gap: 8px;
    }

    .chat-page__container {
        height: 65vh;
    }

    .chat-page__add-message--pin:hover,
    .chat-page__add-message--icon:hover,
    .chat-page__add-message--field:hover {
        height: 90px;
        cursor: pointer;
    }

    .chat-page__add-message--field:hover {
        padding: 35px 50px 20px 40px;
    }


    .chat-page__add-message--pin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #000000;
        box-shadow: 5px 5px 50px #00000065;
        width: 60px;
        height: 50px;
        color: #ffffff;
    }

    .chat-page__status {
        right: 18vw;
    }

    .chat-page__add-message--pin:not(:hover) .chat-page__add-message--pin__note {
        animation: fadeOutAdd 0.2s ease forwards;
        pointer-events: none;
    }
}

@media (min-width: 1250px) {
    .chat-message {
        width: 280px;
    }

    .chat-page__status {
        right: 25vw;
    }

    .chat-message--text {
        font-size: 14px;
        padding: 25px 20px 5px 40px;
    }

    .chat-page__container {
        margin: 0 0 55px 0;
        height: 68vh;
    }

    .chat-page__add-message {
        width: calc(100% - 20px);
        display: grid;
        grid-template-columns: 120px 120px calc(100% - 240px);
        gap: 10px;
    }

    .chat-page__add-message--icon,
    .chat-page__add-message--pin {
        width: 120px;
    }
}