.list-page {
    display: revert;
    height: calc(100% - 30dvh);
    width: 100%;
    padding: 15dvh 0 0 0;
    color: var(--color-text);
}

.lobby-page:has(.chat-page) .list-page {
    display: none;
}



/* .lobby-page:has(.list-page)> :not(.list-page) {
    display: none;
} */


.list-page__title {
    color: var(--color-text);
    text-shadow: var(--text-shadow-welcome-page__heading);
    font-size: 30px;
}

.list-page__list {
    list-style: none;
    overflow-y: auto;
    scroll-behavior: smooth;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.list-page__list {
   min-height: 0;
    flex: 1;
    margin: 40px 0 0 0;
    padding: 0 10px 0 0;
    mask-size: 100% 102%;
    -webkit-mask-size: 100% 102%;
    mask-image: linear-gradient(to top, #00000000, #000000 10%);
    -webkit-mask-image: linear-gradient(to top, #00000000, #000000 10%);
}

.list-page__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-page__list-item {
    width: 100%;
    height: 80px;
    font-size: 15px;
}

.list-page__list-item--image {
    min-width: 50px;
    min-height: 50px;
    margin: 0 25px 0 0;
    background-color: #000000;
    box-shadow: 0px 0px 30px #00000040;
}

.list-page__list-item--title {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list-page__list-item--content {
    width: 100%;
}

.list-item--title__name {
    font-size: 15.5px;
}

.list-item--title__time,
.list-page__list-item--message {
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
    margin: 5px 0 0 0;
}

.list-item--title__time {
    margin: 0 0 0 auto;
}

@media (min-width: 1250px) {
    .lobby-page:has(.list-page) .list-page {
        display: flex;
    }

    .list-page__list-item:hover {
        cursor: pointer;
        height: 150px;
        text-shadow: 0px 0px 30px #00000060;
        opacity: 50%;
        transition: 0.3s;
    }

    .list-page__list {
        padding: 0 20px 0 0;
        margin: 40 -20px 0 0;
    }

    .lobby-prev-page__title {
        font-size: 45px;
    }

    .list-page {
        /* border: 2px solid red; */
        height: calc(90dvh + 35px);
        display: flex;
        flex-direction: column;
        /* background: wheat; */
    }

    .lobby-prev-page__users-list--item:hover {
        cursor: pointer;
        height: 120px;
        text-shadow: 0px 0px 30px #00000060;
        opacity: 80%;
    }

    .lobby-prev-page__title {
        font-size: 45px;
    }

    .lobby-page {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 0 0 0 0;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .lobby-page:has(> :nth-child(1)) {
        grid-template-columns: 40dvw 0;
        justify-items: stretch;
        padding: 0 0 0 calc(50dvw - 28dvw);
    }

    .lobby-page:has(> :nth-child(2)) {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 50px;
        padding: 0 0 0 0;
        grid-template-columns: 30dvw auto;
    }

    .list-page {
        /* border: 2px solid red; */
        height: calc(90dvh + 35px);
        display: flex;
        flex-direction: column;
        /* background: wheat; */
    }

}

/*
.lobby-prev-page--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lobby-prev-page__users-list--item__message {
    margin: 5px 0 0 0;
    font-size: 11px;
    font-weight: 600;
    opacity: 80%;
}

.lobby-prev-page {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    align-items: left;
    height: calc(100dvh - 5dvh);
    animation: fadeIn 0.2s ease forwards;
}

.lobby-prev-page__users-list {
    animation: fadeIn 0.2s ease forwards;
    list-style: none;
    overflow-y: auto;
    margin: 40px 0 0 0;
    padding: 0 10px 0 0;
    scroll-behavior: smooth;
    mask-image: linear-gradient(to top, #00000000, #000000 10%);
    mask-repeat: no-repeat;
    mask-size: 100% 102%;
    -webkit-mask-image: linear-gradient(to top, #00000000, #000000 10%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 102%;
}

.lobby-prev-page__users-list--item__name--container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lobby-prev-page__users-list--item__time {
    margin: auto 0 auto auto;
    font-size: 11px;
    font-weight: 600;
    opacity: 80%;
}

.lobby-prev-page__users-list--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    width: 100%;
    height: 55px;
    font-size: 15px;
}

.lobby-prev-page__users-list--item__photo {
    min-width: 50px;
    min-height: 50px;
    margin: 0 25px 0 0;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px #00000040;
}


.lobby-prev-page__title {
    margin: 20dvh 0 0 0;
    color: var(--color-text);
    font-size: 30px;
    text-shadow: var(--text-shadow-welcome-page__heading);
}

@media (min-width: 650px) {
    .spec {
        margin: 0;
    }


    .lobby-prev-page__title {
        font-size: 35px;
    }

    .lobby-prev-page {
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        align-items: left;
        height: var(--height-welcome-page);
        animation: fadeIn 0.2s ease forwards;
        margin: 0;
    }

    .lobby-prev-page__title {
        margin: 40vh 0 0 0;
    }
}

@media (min-width: 1250px) {
    .lobby-prev-page__users-list--item:hover {
        cursor: pointer;
        height: 120px;
        text-shadow: 0px 0px 30px #00000060;
        opacity: 80%;
    }

    .lobby-prev-page__title {
        font-size: 45px;
    }
} */