.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 0 15vw 0 15vw;
    animation: fadeIn 0.2s ease forwards;
    color: #fff;
}

.menu-button {
    color: #fff;
    font-size: 20px;
    text-shadow: 5px 5px 50px #000000b0;
    box-sizing: border-box;
    left: 15vw;
    animation: fadeIn 0.2s ease forwards;
}

.menu-content__item {
    animation: fadeIn 0.2s ease forwards;
}

.menu-container--hidden {
    display: flex;
    flex-direction: row;
}

.menu-content {
    margin: 0 0 30vh 0;
    max-width: 40vw;
}

.menu-content__item--title {
    margin: 0 0 20px 0;
    font-size: 35px;
}

.menu-content__item--list-item {
    font-weight: 600;
    text-shadow: 0px 0px 5px #00000020;
    opacity: 92%;
    margin: 0 0 12px 0;
    max-height: calc(1.2em * 2);
    overflow: hidden;
}

.menu-content__item--list {
    height: 30vh;
    list-style: none;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu-container {
    position: fixed;
    bottom: 10vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10vw;
    color: #fff;
    font-size: 18px;
}

.menu-container__item:hover {
    transform: var(--transform-welcome-page__button--item);
    opacity: 80%;
    text-shadow: 7px 7px 50px #00000073;
    cursor: pointer;
    transition: 0.2s;
}

.menu-button:hover {
    transform: var(--transform-welcome-page__button--item);
    opacity: 80%;
    cursor: pointer;
    transition: 0.2s;
}

@media(min-width: 650px) {
    .menu {
        padding: 0 20vw 0 20vw;
    }

    .menu-button {
        left: 20vw;
    }
}

@media(min-width: 1250px) {
    .menu {
        padding: 0 25vw 0 25vw;
    }

    .menu-button {
        left: 25vw;
    }
}