.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.2s ease forwards;
}

.menu-container {
    z-index: 9999;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 14dvh 0 0 11vw;
    background: #00000080;
    backdrop-filter: blur(10px);
}

.menu {
    margin: 20% 0 0 0;
}

.menu-container__item {
    animation: fadeUp 0.2s ease forwards;
}

.menu-button {
    position: fixed;
    background: linear-gradient(to right, #76CFF6 -60%, #70A7C8 50%, #0D72C5 130%);
    color: #ffffff;

    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.menu-button {
    bottom: 0;
    width: 100%;
    height: 15dvh;
    padding: 8dvh 0 0 8dvw;
}

.menu-button.fade {
    opacity: 0;
    visibility: 0;
    transform: translateY(60px);
    pointer-events: none;
}

.menu-container__content {
    font-size: 18px;
}

.menu-container__item {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 60px;
    z-index: 9999;
    color: #ffffff;
}

@media (min-width: 650px) {
    .menu-button {
        padding: 8dvh 0 0 12dvw;
    }

    .menu-container__item:hover,
    .menu-button:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    .menu-container__item:hover {
        transform: var(--transform-welcome-page__button--item);

    }
}

@media (min-width: 950px) {
    .menu-button {
        padding: 8dvh 0 0 18dvw;
    }

    .menu-container {
        padding: 14dvh 0 0 18vw;
    }
}

@media (min-width: 1250px) {
    .menu-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;

        width: 100dvw;
        padding: 40dvh 21dvw 0 21dvw;
    }

    .menu-button {
        padding: 8dvh 0 0 21dvw;
    }
}

@media (min-width: 1550px) {
    .menu-button {
        padding: 8dvh 0 0 25dvw;
    }
}